.camoufled-link a, .menu a, body a, .lateral-page .header a, .camoufled-link a:visited, .menu a:visited, body a:visited, .lateral-page .header a:visited, .camoufled-link a:active, .menu a:active, body a:active, .lateral-page .header a:active {
  cursor: pointer;
  color: inherit;
  text-decoration: none; }

.mono-font, #home-header #website-presentation #start #start-text, code {
  font-family: 'Ubuntu Mono', monospace; }

.flex {
  flex: 1; }

.ht {
  color: #2bb1ad; }

@keyframes blinker {
  50% {
    opacity: 0; } }

.blinking {
  animation: blinker 1s linear infinite; }

.smooth-transition, #content-menu li {
  -webkit-transition: all 0.8s;
  /* Safari */
  transition: all width 0.8s; }

.menu-hor {
  display: flex;
  flex-direction: row; }
  .menu-hor .menu-item {
    padding: 15px 10px;
    cursor: pointer;
    -webkit-transition: all 0.8s;
    /* Safari */
    transition: all width 0.8s; }
    .menu-hor .menu-item:hover {
      background: rgba(255, 255, 255, 0.2); }

ul ul {
  list-style: none;
  padding-left: 10px; }

.callout-block {
  border-radius: 4px;
  padding: 5px;
  color: white;
  display: flex;
  align-items: center; }
  .callout-block .callout-title {
    margin: 34px 0;
    font-size: 26px;
    border-bottom: 2px solid white; }
  .callout-block .icon-holder {
    padding: 0px 20px;
    font-size: 30px; }
  .callout-block .ht {
    color: white;
    border-bottom: 1px solid white; }

.callout-info {
  background-color: #2bb1ad; }

.callout-warning {
  background-color: #ff6223; }

html, button, input, select, textarea, .pure-g [class*="pure-u"] {
  font-family: 'Josefin Sans', sans-serif; }

body {
  color: #2d2d2d; }

#nav {
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.53); }

#home-header {
  background: #10336d;
  background: -webkit-linear-gradient(#1d5dc6, #10336d);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#1d5dc6, #10336d);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#1d5dc6, #10336d);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#1d5dc6, #10336d);
  /* Standard syntax */
  color: white;
  padding-bottom: 20px; }
  #home-header #website-presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    #home-header #website-presentation #website-name {
      font-size: 90px; }
    #home-header #website-presentation #website-logo {
      margin: 20px;
      width: 200px; }
    #home-header #website-presentation #start {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      height: 50px; }
      #home-header #website-presentation #start #start-text {
        background: #3a3a3a;
        font-size: 20px; }
      #home-header #website-presentation #start #start-button {
        background: #2bb1ad;
        cursor: pointer;
        font-size: 30px; }
      #home-header #website-presentation #start #start-text, #home-header #website-presentation #start #start-button {
        display: flex;
        align-items: center;
        padding: 0 20px; }

#socials i {
  font-size: 20px; }

#socials a:hover {
  text-decoration: none !important;
  border-bottom: 1px solid white; }

.home-section {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .home-section .home-section-title {
    color: #10336d;
    display: flex;
    justify-content: center;
    font-size: 60px;
    font-weight: bold; }
  .home-section .home-section-content {
    font-size: 20px;
    margin: 20px;
    text-align: center; }

.home-section:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.19); }

#about-section .home-section-content {
  line-height: 25px;
  width: 75%; }
  #about-section .home-section-content .ht {
    color: #10336d;
    border-bottom: 2px solid #00e676; }

.grid-section .section-item, #features-section .section-item, #features-section .feature-item {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .grid-section .section-item .section-item-img, #features-section .section-item .section-item-img, #features-section .feature-item .section-item-img, #features-section .feature-item .feature-img {
    width: 150px;
    margin: 10px 0; }
  .grid-section .section-item .section-item-title, #features-section .section-item .section-item-title, #features-section .feature-item .section-item-title, #features-section .feature-item .feature-title {
    font-size: 35px; }

#features-section .feature-item .feature-img {
  border-radius: 50%; }

#howto-section .section-item .section-item-title, #howto-section #features-section .feature-item .section-item-title, #features-section #howto-section .feature-item .section-item-title, #features-section .feature-item #howto-section .section-item .feature-title, #howto-section #features-section .feature-item .feature-title, #features-section #howto-section .feature-item .feature-title {
  font-size: 20px; }

#howto-section .section-item:hover .section-item-title, #howto-section #features-section .feature-item:hover .section-item-title, #features-section #howto-section .feature-item:hover .section-item-title, #howto-section .section-item:hover #features-section .feature-item .feature-title, #features-section .feature-item #howto-section .section-item:hover .feature-title, #howto-section #features-section .feature-item:hover .feature-title, #features-section #howto-section .feature-item:hover .feature-title {
  color: #2bb1ad;
  text-decoration: underline; }

#footer {
  position: fixed;
  display: flex;
  align-items: baseline;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  background: #3a3a3a;
  color: white;
  font-size: 15px;
  padding: 9px 13px; }
  #footer a:hover {
    text-decoration: underline; }

.lateral-page .header {
  background: #10336d;
  color: white;
  display: flex; }
  .lateral-page .header .header-logo {
    padding: 10px;
    display: flex;
    align-items: baseline; }
    .lateral-page .header .header-logo .header-logo-img {
      width: 43px; }
    .lateral-page .header .header-logo .header-logo-title {
      font-size: 29px;
      margin: 0px 15px; }

.doc-wrapper {
  padding: 20px; }

.doc-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .doc-header .doc-title {
    font-size: 60px;
    color: #10336d;
    text-align: center; }
  .doc-header .meta {
    color: #2bb1ad; }

.fixed-menu {
  position: fixed;
  overflow-y: auto;
  top: 0px; }

.absolute-menu {
  position: absolute; }

#menu-wrapper {
  width: 250px;
  height: 100%;
  border-right: 2px solid #bababa; }

#content-menu {
  position: relative;
  padding-left: 0;
  list-style: none; }
  #content-menu li {
    cursor: pointer;
    font-size: 22px;
    padding: 10px 0px;
    margin-left: 20px;
    color: #10336d; }
    #content-menu li:hover {
      color: #2bb1ad; }
  #content-menu > li:before {
    content: ">";
    font-weight: bold;
    position: absolute;
    left: 0px;
    color: #00e676; }

.doc-content {
  margin-left: 300px; }
  .doc-content .doc-section .section-title {
    padding-top: 20px;
    color: #10336d;
    border-bottom: 2px solid #00e676;
    font-size: 30px; }
  .doc-content .doc-section .section-block {
    font-size: 20px;
    line-height: 25px; }
    .doc-content .doc-section .section-block .sub-section {
      margin-left: 20px; }
    .doc-content .doc-section .section-block h3, .doc-content .doc-section .section-block h4, .doc-content .doc-section .section-block h5, .doc-content .doc-section .section-block h6 {
      color: #10336d; }
      .doc-content .doc-section .section-block h3 .title-comment, .doc-content .doc-section .section-block h4 .title-comment, .doc-content .doc-section .section-block h5 .title-comment, .doc-content .doc-section .section-block h6 .title-comment {
        margin-left: 20px;
        font-size: 64%;
        display: block;
        margin-top: 9px;
        color: rgba(0, 0, 0, 0.5); }
    .doc-content .doc-section .section-block h3 {
      font-size: 30px; }
    .doc-content .doc-section .section-block h4 {
      font-size: 26px; }
    .doc-content .doc-section .section-block h5 {
      font-size: 23px; }
    .doc-content .doc-section .section-block h6 {
      font-size: 19px; }
  .doc-content a, .doc-content a:visited, .doc-content a:active {
    color: #10336d;
    text-decoration: underline;
    cursor: pointer; }

code {
  display: inline-block;
  background: #3a3a3a;
  color: white; }

code[class*="language-"], pre[class*="language-"] {
  text-shadow: none;
  background: #3a3a3a;
  color: white; }
  code[class*="language-"] .token.operator, code[class*="language-"] .token.punctuation, pre[class*="language-"] .token.operator, pre[class*="language-"] .token.punctuation {
    color: white;
    background: transparent; }
  code[class*="language-"] .token.keyword, pre[class*="language-"] .token.keyword {
    color: #66D9EF; }
  code[class*="language-"] .token.function, code[class*="language-"] .token.tag, code[class*="language-"] .token.property, pre[class*="language-"] .token.function, pre[class*="language-"] .token.tag, pre[class*="language-"] .token.property {
    color: #F92672; }
  code[class*="language-"] .token.string, pre[class*="language-"] .token.string {
    color: #FD971F; }
  code[class*="language-"] .token.boolean, code[class*="language-"] .token.number, pre[class*="language-"] .token.boolean, pre[class*="language-"] .token.number {
    color: #AE81FF; }
  code[class*="language-"] .token.class-name, code[class*="language-"] .token.selector, pre[class*="language-"] .token.class-name, pre[class*="language-"] .token.selector {
    color: #A6E22E; }

code.code-cli {
  background: #3a3a3a;
  color: white;
  padding: 10px 20px; }
