.callout-block {
  border-radius: 4px;
  padding: 5px;
  color: white;
  display: flex;
  align-items: center;

  .callout-title {
    margin: 34px 0;
    font-size: 26px;
    border-bottom: 2px solid white;
  }

  .icon-holder {
    padding: 0px 20px;
    font-size: 30px;
  }

  .ht {
    color: white;
    border-bottom: 1px solid white;
  }
}

.callout-info {
  background-color: $color2;
}

.callout-warning {
  background-color: $orange;
}