$color1: #10336d;
$color2: #2bb1ad;
$color3: #00e676;
$orange: #ff6223;
$gray: #3a3a3a;
$text-color: darken($gray, 5%);
$sidebar-width: 250px;


.camoufled-link {
  a, a:visited, a:active {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
  }
}

.mono-font {
  font-family: 'Ubuntu Mono', monospace;
}

.flex {
  flex: 1;
}

.ht {
  color: $color2;
}

@import "animations.scss";
@import "menus.scss";
@import "callouts.scss";

html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
  font-family: 'Josefin Sans', sans-serif;
}

body {
  color: $text-color;
  @extend .camoufled-link;
}

#nav {
  display: flex;
  justify-content: center;
  background: fade-out(black, 0.47);
}

#home-header {
  background: $color1;
  background: -webkit-linear-gradient(lighten($color1, 20%), $color1); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(lighten($color1, 20%), $color1); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(lighten($color1, 20%), $color1); /* For Firefox 3.6 to 15 */
  background: linear-gradient(lighten($color1, 20%), $color1); /* Standard syntax */
  color: white;
  padding-bottom: 20px;

  #website-presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #website-name{
      font-size: 90px;
    }

    #website-logo{
      margin: 20px;
      width: 200px;
    }

    #start {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      height: 50px;

      #start-text {
        @extend .mono-font;
        background: $gray;
        font-size: 20px;
      }

      #start-button {
        background: $color2;
        cursor: pointer;
        font-size: 30px;
      }

      #start-text, #start-button {
        display: flex;
        align-items: center;
        padding: 0 20px;
      }
    }
  }
}

#socials {
  i {
    font-size: 20px;
  }
  a:hover {
    text-decoration: none !important;
    border-bottom: 1px solid white;
  }
}

.home-section {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .home-section-title {
    color: $color1;
    display: flex;
    justify-content: center;
    font-size: 60px;
    font-weight: bold;
  }

  .home-section-content {
    font-size: 20px;
    margin: 20px;
    text-align: center;
  }
}

.home-section:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.19);
}


#about-section .home-section-content {
  line-height: 25px;
  width: 75%;
  .ht {
    color: $color1;
    border-bottom: 2px solid $color3;
  }
}

.grid-section {
  .section-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    .section-item-img {
      width: 220px;
      margin: 10px 0;
    }
    .section-item-title {
      font-size: 35px;
    }
  }
}

#features-section {
  @extend .grid-section;
  .feature-item {
    @extend .section-item;
    .feature-img {
      @extend .section-item-img;
      border-radius: 50%;
    }
    .feature-title {
      @extend .section-item-title;
    }
  }
}

#howto-section {
  .section-item {
    .section-item-title {
      font-size: 20px;
    }

    &:hover .section-item-title {
      color: $color2;
      text-decoration: underline;
    }
  }
}

#footer {
  position: fixed;
  display: flex;
  align-items: baseline;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  background: $gray;
  color: white;
  font-size: 15px;
  padding: 9px 13px;
  a:hover {
    text-decoration: underline;
  }
}

.lateral-page {
  .header {
    background: $color1;
    color: white;
    display: flex;
    @extend .camoufled-link;

    .header-logo {
      padding: 10px;
      display: flex;
      align-items: baseline;

      .header-logo-img {
        width: 43px;
      }

      .header-logo-title {
        font-size: 29px;
        margin: 0px 15px;
      }
    }
  }
}

.doc-wrapper {
  padding: 20px;
}

.doc-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .doc-title {
    font-size: 60px;
    color: $color1;
    text-align: center;
  }

  .meta {
    color: $color2;
  }
}

.fixed-menu {
  position: fixed;
  overflow-y: auto;
  top: 0px;
}

.absolute-menu {
  position: absolute;
}

#menu-wrapper {
  width: $sidebar-width;
  height: 100%;
  border-right: 2px solid lighten($gray, 50%);
}

#content-menu {
  // width: $sidebar-width;
  // height: 100%;
  position: relative;
  padding-left: 0;
  list-style: none;

  li {
    cursor: pointer;
    font-size: 22px;
    padding: 10px 0px;
    margin-left: 20px;
    color: $color1;
    @extend .smooth-transition;

    &:hover {
      color: $color2;
    }
  }

  > li:before {
    content: ">";
    font-weight: bold;
    position: absolute;
    left: 0px;
    color: $color3;
  }
}

.doc-content {
  margin-left: $sidebar-width + 50px;
  .doc-section {
    .section-title {
      padding-top: 20px;
      color: $color1;
      border-bottom: 2px solid $color3;
      font-size: 30px;
    }
    .section-block {
      font-size: 20px;
      line-height: 25px;

      .sub-section {
        margin-left: 20px;
      }

      h3, h4, h5, h6 {
        color: $color1;
        .title-comment {
          margin-left: 20px;
          font-size: 64%;
          display: block;
          margin-top: 9px;
          color: rgba(0,0,0,.5);
        }
      }

      h3 {
        font-size: 30px;
      }

      h4 {
        font-size: 26px;
      }

      h5 {
        font-size: 23px;
      }

      h6 {
        font-size: 19px;
      }
    }
  }

  a, a:visited, a:active {
    color: $color1;
    text-decoration: underline;
    cursor: pointer;
  }
}

code {
  @extend .mono-font;
  display: inline-block;
  background: $gray;
  color: white;
}

code[class*="language-"], pre[class*="language-"] {
  text-shadow: none;
  background: $gray;
  color: white;
  .token.operator, .token.punctuation {
    color: white;
    background: transparent;
  }
  .token.keyword {
    color: #66D9EF;
  }
  .token.function,.token.tag, .token.property {
    color: #F92672;
  }
  .token.string {
    color: #FD971F;
  }
  .token.boolean, .token.number {
    color: #AE81FF;
  }
  .token.class-name, .token.selector {
    color: #A6E22E;
  }
}

code.code-cli {
  background: $gray;
  color: white;
  padding: 10px 20px;
}
