#footer
  | ZinkyJS is released under the 
  | &nbsp;
  a(href="license.html")  MIT License
  | &nbsp;
  |  © 2017, Powered By
  | &nbsp;
  a(href="https://www.linkedin.com/company/tildah") Tildah
  .flex
  a.mdi.mdi-facebook-box(href="https://www.facebook.com/Zinky-357822101299847/", target="_blank")
  | &nbsp;
  | |
  | &nbsp;
  a(href="conduct_code.html")
    span.mdi.mdi-heart-pulse
    | Code of Conduct
