#nav
  .menu-hor.menu
    a.menu-item(href="tuto_hello.html")
      i.mdi.mdi-road-variant
      |  Tutorial
    a.menu-item(href="reference.html")
      i.mdi.mdi-book-open-page-variant
      |  Docs
    a.menu-item(href="https://github.com/zinkyjs/zinky") 
      i.mdi.mdi-github-circle
      |  Github
    a.menu-item(href="https://github.com/zinkyjs/zinky/issues")
      i.mdi.mdi-alert-circle
      |  Support
