.header .branding .logo img {
  width: 100px;
}

.features .features-image {
  border-radius: 50%;
  height: 240px;
  width: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  font-size: 130px;
  line-height: 130px;
}

.bg-orange {
  background-color: #F88C30;
}

.bg-blue {
  background-color: #58bbee;
}

.bg-pink {
  background-color: #EA5395;
}

.bg-purple {
  background-color: #8A40A7;
}

.ht {
  color: #24a038;
  background: #e8e8e8;
  padding: 1px 6px;
  margin: 0px 1px;
}