#footer
  | Developed by
  a(href="https://github.com/burawi")  Burawi Ben Ammar
  .flex
  #socials
    a(href="https://www.facebook.com/Zinky-js-357822101299847/", target="_blank")
      i.fa.fa-facebook-official
      |  Facebook Page