#footer
  | ZinkyJS is released under the 
  | &nbsp;
  a(href="license.html")  MIT License
  | &nbsp;
  |  © 2017, 
  | &nbsp;
  a(href="https://github.com/burawi") Burawi Ben Ammar
  | &nbsp;
  span and contributors.
  .flex
  a(href="conduct_code.html") Code of Conduct
