script(src="./bower_components/jquery/dist/jquery.min.js")
script(src="./bower_components/jquery-scrollTo/dist/jquery-scrollTo.min.js")
script(src="./bower_components/jquery.nicescroll/dist/jquery.nicescroll.min.js")
script(src="./js/prism.js")
script(src="./js/main.js")