#nav
  .menu-hor.menu
    a.menu-item(href="/zinky/tutorial1.html")
      i.fa.fa-road 
      |  Tutorial
    a.menu-item(href="/zinky/docs.html")
      i.fa.fa-book 
      |  Docs
    a.menu-item(href="https://github.com/zinkyjs/zinky") 
      i.fa.fa-github 
      |  Github
    a.menu-item(href="https://github.com/zinkyjs/zinky/issues")
      i.fa.fa-exclamation-circle
      |  Support
